// normalize 
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



// Variables - colours
$grey: RGB(76, 84, 84);
$teal: #3D9085;
$white: #FFF5ED;
$white1: #FFFAF6;
$orange: #F5744E;

//Variables- fonts 
$title: 'Open Sans', sans-serif;
$paragraph: 'Open Sans', sans-serif; 

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $paragraph;
	background: $teal;
	font-weight: 300;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: $grey;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

.wholeMap {
	position: relative;
}

#map {
	margin:20px;
	height: 60%;
	width: calc(50% - 40px);
	float: left;
	border-radius: 5px;
	border: none;


}

#right-panel {
	width: 50%;
	float: left;
	overflow: scroll;
	padding: 20px;
	height: 65%;

}

div.adp-warnbox{
	display: none;

}

.mapTitle, .mapTitleWalk {
	text-align: center;
    padding: 12px 10px 0px;
    color: $grey;
    font-family: $paragraph;
    font-size: 2.3rem;
    font-weight: lighter;
    .TTCminutes, .ttcStop, .walkTime {
    	color: $orange;
    	font-size: 2.5rem;
    	text-transform: uppercase;
    }

}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: rgba(0,0,0,0);
	padding: 5px;
	// border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

.dynamicContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 4;
}

.window, .laterContent, .wholeMap {
	border: none;
	border-radius: 10px;	
	height: 90vh;
	display: flex;
	flex-direction: column;
	margin: 13px;
	margin-bottom: 5px;
	background: $white;
	position: relative;
}


.laterContent{
	background: $white;
}

.wholeMap, .laterContent {
	.logo {
		position: absolute;
		left: 20px;
		width: 50px;
	}
}

.overlay{
	position: absolute;
	background: rgba(255,255,255,0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	border-radius: 10px;
	border-bottom: 5px solid grey;
}



.centered {
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 4;
}

.window, .laterContent {
	background-image: url(../assets/skyline.svg);
	background-position: center 110%;
	background-repeat: no-repeat;
	background-size: cover;
}


.skyline {
	position: absolute;
	bottom: -1.7%;
	width: 100%;
	
}



.title {
	padding: 10px 0px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 4.5rem;
	h3 {
		font-size: 3rem;
	}
}

.subTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 0px 40px;
	h2 {
		font-size: 3.5rem;

	}
	h3 {
	    padding: 40px 30px;
	    font-size: 3rem;
	}

}
input[type=submit], input[type=text] {
	border: none;
	width: 60px;
	border-radius: 5px;
}

input[type=text] {
	color: $teal;
	padding: 20px 40px;
	width: 600px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	&:focus, &:active{
		border: none;
		outline: none;
	}
	&::placeholder {
		color: $teal;
		letter-spacing: 24px;
		text-align: center;
	}
	&:-webkit-autofill{
		background-color: $white !important;
	}

}

input[type=text]:focus + input[type=submit] {
	border: none;
	border-left: none;
	outline: none;
}


form {
	position: relative;
}

input[type=submit]{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: $teal;
	color: $white1;
	border-left: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px; 
	font-family: FontAwesome;

}


img {
  width: 100%;
  color: $grey;
  z-index: -1;
}

form {
	z-index: 1;
	position: relative;
}

.logo, .weatherIcon {
	width: 60px;
	padding: 14px 0px 20px;
}

.weatherInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -40px;
}

h1  {
	font-family: $title;
}

h2 {
	text-transform: uppercase;
	font-family: $title;
	font-weight: 300;
	line-height: 0.7;
}

h3 {
	color: $orange;
}


div.image {
	width: 50px;
}

p.type, span.weather {
	font-size: 2.5rem;
	font-family: $paragraph;
	color: $teal;
	padding: 5px 0px;
}

span.weather {
	font-weight: 400;
}

span.feelsLikeAll {
	color: $orange;
	font-size: 2rem;
}

p.temp {
	font-size: 4rem;
	font-family: $title;
	color: $orange;

}

.weatherIcon {
	display: flex;
    width: 125px;
    padding: 14px 0px 0px;
	div {
		width: 100%;
		padding: 20px 0px;
	}
}

// WEATHER IMAGES
.show {
	display: block;
}

.hide {
	display: none;
}

// DYNAMIC CONTENT 

.buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 35px;
	align-items: center;
}

button {
	color: $white;
	background: $teal;
	border: none;
	box-shadow: 1px 4px 0px darken($teal,15%);
	border-radius: 5px;
	max-width: 400px;
	width: calc(40% - 20px);
	margin: 0px 5px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// transition: all 0.2s ease;
	position: relative;
	div.image {
  		width: 60px;
	}
	div.walkImg img{
		width: 55px;
		padding: 15px 2px;
	}
	div.streetCarImg img{
		padding: 0px 0px;
	}
	&:hover {
		box-shadow: 1px 1px 0px darken($teal, 15%);
		bottom: -3px;

	}
	h4{
		padding: 0px 0px 0px 20px;
	}
}

button.goBack{
	margin: 20px auto;
	box-shadow: 4px 4px 0px darken($orange, 15%);
	padding: 20px 0px;
	display: block;
	background: $orange;
	border: none;
	color: $white1;
	width: 75%;
	text-transform: uppercase;
	letter-spacing: 6px;
	&:hover{
		box-shadow: 2px 2px 0px darken($orange, 15%);
		&:active, &:focus {
			outline: none;
		}
	}
}

footer {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h6 {
	color: $white;
	text-transform: uppercase;
	letter-spacing: 6px;
	padding: 0px;
	margin: 0px;
	font-size: 1.2rem;
	border: 1px solid $teal;

	a {
		color: $white;
		background: $grey;
		border: 1px solid $teal;
		border-radius: 5px; 
		padding: 7px 7px 7px 10px;
		margin: 10px 5px 5px 5px;
		text-decoration: none;
		transition: all 0.5s ease;
		&:hover{
			border: 1px solid $white;
			color: $white;
			background: $teal;
		}
	img {
		width: 60px;
	}
	img.googs {
		width: 15px;
	}
	}
}

h6.credits {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	a {
		border: none;
		background: $teal;

	}

}


@media (max-width: 900px) {
	.subTitle {
	margin: 0px 0px 0px;
    padding: 0px 900px 45px;
    background-image: radial-gradient(ellipse 500px 125px, RGBA(255, 250, 248, 1) 43%, RGBA(255, 250, 248, 0.1));
	}
    .window, .laterContent {
		background-position: 80% 100%;
	}
}

@media (max-width: 650px) {
	input[type=text] {
    color: RGB(52, 168, 149);
    padding: 13px 40px 13px 2px;
    width: 300px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.2rem;
    &::placeholder {
    	letter-spacing: 8px;
    	text-align: center;
    	}
	}
	.subTitle {
	margin: 0px 0px 0px;
    padding: 0px 0px 54px;
    background-image: radial-gradient(ellipse 500px 94px,RGBA(255, 250, 248, 1) 48%, RGBA(255, 250, 248, 0.1));
}
}

@media (max-width: 600px){
	#map, #right-panel{
		width:100%;
		float:none;
	}
	.wholeMap {
		height: auto;
	}
	#map{
		height: 40vh;
		width:90%;
	}
}

@media (max-width: 420px){
	.window, .laterContent, .wholeMap{
		width:100%;
		margin: 0px;
	}
	.mapTitle, .mapTitleWalk {
	    padding: 12px 10px 0px;
	    font-size: 2rem;
	    .TTCminutes, .ttcStop, .walkTime {
	    	font-size: 2.3rem;
	    }
    }
}

@media (max-width: 385px){
	input[type=text] {
		width: 280px;
	}
    .title {
		padding: 10px 0px 30px;
		font-size: 2.5rem;
		h3 {
			font-size: 2.5rem;
		}
	}
		.subtitle h3 {
		    padding: 30px 30px;
		    font-size: 2.5rem;
		}
	.weatherIcon {
	    width: 125px;
	    padding: 0px 0px 0px;
	}
	p.feels, p.type {
	    font-size: 2rem;
	    padding: 0px 0px;
	}
	.weatherIcon div {
    	padding: 5px 0px;
	}
	h6 {
		font-size: 0.5rem;
	}
}


